* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cream: #f8f8f8;
    --green: #1abc9c;
    --bg-img: #000b07;
    --bg-profile: #474e5d;
    --bg-search: #ffffff;  /*and my skills*/
}

html,
body {
    height: 100%;
    font-family: cursive;
}

body{
    background-color: #f8f8f8;
    

}

.wrapper {
    width: 100%;
    /* max-width: 500px; */
    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}
.bordered{border: 1px solid grey}

.nav {
    background-color: var(--cream);
    box-sizing:border-box;
    padding:10px;
    position: relative;
    background-color:rgb(46, 39, 39);
    color:#f5f5f7;
}

.icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color:#f5f5f7;
}
.icon_name{font-family: cursive;}
.fa{font-size:1.40em;}
.nav__logo {
    flex-grow: 1;
    align-self: center;
    padding-left: 0px;
}

.nav__links {
    display: none;
    
}
.nav__links.responsive{
    display: block;
    
}


.pb {
    padding-bottom: 5px;
}

.pt {
    padding-top: 5px;
}

.pl {
    padding-left: 25px;
}

a {
    color:black;
    text-decoration: none;
    
}
a:hover{  
    text-decoration: underline ;  
}

.nav__links_items__1 a, .nav__links_items__2 a, .nav__links_items__3 a{
    color:#f5f5f7;
}

.about {
    display: flex;
    flex-direction: column;
    
    /* justify-content: center; */
    height: 350px;
    background-color: goldenrod;
}

.about__image {
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.about__heading h3 {
    padding-top: 10px;
}

.about__heading {
    align-self: center;
    color: var(--bg-search);
}



img {
    width: 35%;
    align-self: center;
    /* align-self: center; */
    /* border-radius: 50%; */
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 50%;
}

.about__description {
    align-self: center;
    color: var(--bg-search);
}

.about__description p {
    padding: 10px 5px 0 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 250px;
    background-color: darkred;

}

.profile__heading {
    align-self: center;
    color: var(--bg-search);
    
}

.profile__description {
    align-self: center;
    color: var(--bg-search);
}

.profile__search {
    align-self: center;
    color: var(--bg-search);
    padding-top: 35px;
}

.profile__heading h3 {
    padding-top: 10px;
}

.profile__description p {
    padding: 10px 5px 0 10px;
}

.profile__search button {
    
}

.skills {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: auto;
    background-color: var(--cream);
}

.skills__heading {
    align-self: center;
    color: var(--bg-profile);
    
}

.skills__heading h3 {
    padding-top: 10px;
}

.skills__category {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.skills__category__items {
    

    /* flex-wrap: wrap; */
    align-self: center; 
    
}



.fa-html5 {
    font-size: 150px;
    color: darkred;
   
}

.fa-css3 {
    font-size: 150px;
    color:goldenrod;
}

.fa-js-square {
    font-size: 150px;
    color: fuchsia;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: goldenrod;
    color: #ffffff;
}

.fs--look {
    
}

.btn {
    padding: 10px 15px;
    border-radius: 7px;
    border: none;
    font-size: 19px;
    font-weight: 200;
    
}

@media only screen and (min-width:426px) and (max-width:768px){

    .nav__logo {
        flex-grow: 1;
        align-self: center;
        padding-left: 10px;
    }
    

    a {
        color:black;
        text-decoration: none;
        font-size:20px;
        padding-left:15px;
        padding-right: 30px;
    }

    .about {
        display: flex;
        flex-direction: column;
        
        /* justify-content: center; */
        height: 350px;
        background-color: goldenrod;
    }

    img {
        width: 20%;
        align-self: center;
        /* align-self: center; */
        /* border-radius: 50%; */
        padding-top: 10px;
        padding-bottom: 5px;
        border-radius: 50%;
    }

    .profile {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        height: 200px;
        background-color: darkred;
    }

    .skills {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        height: 250px;
        background-color: var(--cream);
    }

    .skills__category {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 10px;
    }

    /* .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80px;
        background-color: goldenrod;
        color: #ffffff;
    } */
}
/* Desktop Styles*/
@media only screen and (min-width: 769px){

    .wrapper {
        width: 960px;
        margin: 0 auto;
    }
    .nav__links.nav__links.responsive {
        display: flex;
        
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
        flex-wrap: wrap;
        background-color: var(--cream);
        color:black;
    }
    .nav__links_items__1 a, .nav__links_items__2 a, .nav__links_items__3 a{
        color:black;
    }
    .icon{display:none;}
    .nav__logo {
        flex-grow: 1;
        align-self: center;
        padding-left: 10px;
    }

    .nav__links {
        display: flex;
        flex-direction: row;
        flex-grow: 2;
        justify-content: flex-end;
        align-self: center;
    }

    a {
        color:black;
        text-decoration: none;
        font-size:20px;
        padding-left:15px;
        padding-right: 30px;
    }

    .about {
        display: flex;
        flex-direction: column;
        
        /* justify-content: center; */
        height: 350px;
        background-color: goldenrod;
    }

    img {
        width: 15%;
        align-self: center;
        /* align-self: center; */
        /* border-radius: 50%; */
        padding-top: 10px;
        padding-bottom: 5px;
        border-radius: 50%;
    }

    .profile {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        height: 200px;
        background-color: darkred;
    }

    .skills {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        height: 250px;
        background-color: var(--cream);
    }

    .skills__category {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 10px;
    }


}
